

<div class="page-container">
	<div class="page-column">
		<div class="page-column-head"> H {{ $ctrl.counter }}</div>
  		<div class="page-column-body">
  			<div lass="page-column-item" ng-repeat="i in $ctrl.list_left"> item </div>
  		</div>
  	</div>
  	<div class="page-column short grey"> 
  		<div></div>
  	</div>
  	<div class="page-column">
  		<div class="page-column-head"> H </div>
  		<div class="page-column-body">
  			{{ $ctrl.list_left }}
  		</div>
  	</div>
</div>